<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/kr-engne">KR-ENGNE</a></li>
        </ul>
    </nav>
    <div class="container">
        {{ content }}
    </div><!-- /.container -->
    <footer>
        <ul>
            <li><a href="https://github.com/kilork">Alexander Korolev</a></li>
        </ul>
    </footer>
</body>
</html>